.btn {
  font-family: $font-montserrat;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  width: 340px;
  height: 70px;
  text-align: center;

  &:hover {
    cursor: pointer;
  }

  &.btn--login {
    width: auto;
    height: auto;
    font-size: 18px;
    color: #000;
    background-color: transparent;

    // &:hover {
    //   cursor: pointer;
    // }
  }
}