.news {
  &__container {
    padding-top: 100px;
    padding-bottom: 70px;
  }

  &__title {
    text-transform: uppercase;
    font-family: $font-montserrat;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 0.1em;
    padding-bottom: 78px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -30px -25px;
  }

  &__item {
    width: calc(100% / 3);
    padding: 30px 25px;
  }

  &__load-more {
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
  }
}