
.slider {
  &__container {
    position: relative;
    overflow: hidden;
    height: 666px;
  }

  &__slides {
    width: 100%;
    height: 666px;
    position: relative;
  }

  &__prev,
  &__next {
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 54.5%;
    transform: translateX(-50%);
    width: 20px;
    height: 30px;
    font-size: 30px;
    margin-top: -3rem;
    font-weight: bold;
  
    &:before {
      display: block;
      content: "";
      width: 16px;
      height: 23px;
      background-image: url('../../img/slider-arrow.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  
  &__next {
    right: 33px;
  }
  
  &__prev {
    left: 46px;
    transform: rotate(180deg);
  }

  &__dots {
    width: 100%;
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
  }

  &__dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $color-white;
    cursor: pointer;
  
    &:not(:last-child) {
      margin-right: 10px;
    }
  
    &.dot-active,
    &:hover {
      background-color: $color-mine-shaft;
    }
  }
}

.active {
  display: inline-block;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

.inactive {
  display: none;
}