/*
#styleguide
基本スタイル

```
<p>特に何も指定しないときの状態</p>
```
*/

html {
  -webkit-text-size-adjust: 100%; // this will stop the font issue in landscape mode of iphone
}

body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: $font-smoothing;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: $font-smoothing;
  text-rendering: $text-rendering;
  font-size: $base-font-size;
  font-family: $base-font-family;
  color: $base-font-color;

  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

ul {
  list-style: none;
}

a {
  &:link,
  &:visited {
    color: black;
  }
}

@keyframes fadeInAnimation { 
  0% { 
    opacity: 0; 
  } 
  100% { 
    opacity: 1; 
  } 
} 